@font-face {
	font-family: 'Futura';
	src: url('../font/Futura.ttc');
}

@font-face {
	font-family: 'Rockwell';
	src: url('../font/Rockwell.ttc');
}

html {
	color: #ffe1ba;
	font-size: 1em;
	line-height: 1.4;
	font-family: 'Futura', arial;
}

body {
	background-color: black;
	margin: 0;
}

#main {
	border: 0px solid;
	max-width: 900px;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
}

/*
#content {
	width: 100%;
	overflow-x: hidden;
	clear: both;
}
*/

.post {
	margin-bottom: 35px;
	padding-bottom: 35px;
	width: 100%;
	border-bottom: 1px solid rgba(136, 136, 136, 0.2);
}

.post img {
	min-width: 640px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	border-radius: 2px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	border-radius: 2px;
}

.videoWrapper iframe {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 740px) {
	.post img {
		min-width: 100%;
	}
	#main {
		padding-left: 1em;
		padding-right: 1em;
	}
}

@media screen and (max-width: 800px) {
	#header-text-container {
		display: block;
		text-align: center;
		margin-top: 50px;
		float: none;
		width: 100%;
		margin-bottom: 50px;
	}
	#header-text-h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}
}

.post a:focus {
	outline: none;
}

.post img {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.post img:hover,
.post img:focus,
.post img:active {
	-webkit-transform: scale(1.05);
	transform: scale(1.005);
}

.mfp-image-holder .mfp-content {
	max-width: 80% !important;
}

.mfp-no-margins img.mfp-img {
	max-height: 80vh !important;
}

.mfp-figure:after {
	background-color: rgba(0, 0, 0, 0);
}

.mfp-no-margins img.mfp-img {
	padding: 0;
}

.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}

.mfp-no-margins .mfp-container {
	padding: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

#tabs li {
	display: inline;
}

#tabs li a {
	text-decoration: none;
}

#tabs-container {
	background-color: #ffe1ba;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	transition: 0.4s;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#tabs {
	list-style: none;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0;
}

#logo {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 50px;
	margin-top: 10px;
}

#logo img {
	text-align: center;
	margin-bottom: -1px;
}

#tab-portfolio a {
	font-family: Rockwell, arial;
	color: #e3951a;
	transition: 2s;
}

#tab-portfolio a:hover {
	color: #ffaa05;
}

#tab-films a {
	font-family: Gastromond, arial;
	color: #ff5148;
	transition: 2s;
}

#tab-films a:hover {
	color: #ff826e;
}

#tab-about a {
	font-family: Futura, arial;
	color: #27bb77;
	transition: 2s;
}

#tab-about a:hover {
	color: #3edc79;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.film-row {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.film {
	flex: 1;
	margin: 0 25px;
}

.social {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 30px;
	margin: 10px 20px;
	z-index: 9999;
}

.social a {
	color: #fee1ba8a;
	transition: 0.2s;
}

.social a:hover {
	color: #fee1baff;
}

.about-social {
	font-size: 75px;
}

.about-social a {
	color: #fee1ba8a;
	transition: 0.2s;
}

.about-social a:hover {
	color: #fee1baff;
}

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
	.film-row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.film {
		width: 90%;
	}
}

.navbar-spacer {
	padding-top: 97px;
}

@media only screen and (max-width: 700px) {
	#tabs-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#tabs {
		flex-direction: row;
		align-items: center;
		width: 100%;
		justify-content: space-around;
		margin-bottom: 0;
	}

	.navbar-spacer {
		padding-top: 127px;
	}
}
